{% extends getPartial('page-design') %}
{% import "Front::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Front::Category.Macros.CategoryTree" as Tree %}

{% set overrideSearchFilters = LayoutContainer.show("Front::Search.Filter", facets ) %}

{% block PageBody %}
    {% set listType = isSearch ? "itemsearch" : "categoryitem" %}
    {% set shopBuilderTemplate = shop_builder_category_template(category.id, listType) %}

    {% if shopBuilderTemplate | trim is not empty or isShopBuilder %}

        <div class="categoriegrid pt-0 page-content container-max">
            <div class="row">
                <div class="col-12">
                    {{ shopBuilderTemplate | raw }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 p-4 text-center">
                <strong>&#42;&#42; Deutschland:</strong> Standard DHL Lieferzeit 1 bis 3 Werktage, Versandkosten nach Gewicht bis 20 kg = 4,90€ und ab 149€ Bestellwert Versandkostenfrei.<br /> 
                (Andere Länder, Sperrgut Aufschlag, Speditions Aufträge, Express Versand und weitere Gewichtsstaffelungen werden in der Kasse berechnet). - <a href="/zahlung-und-versand" target="_blank">Versandinformationen</a>
                </div>
            </div>
        </div>

    {% else %}

        {% if category is defined and ceresConfig.item.showCategoryImage %}
            {% include "Front::Category.Item.Partials.CategoryParallaxImage" with { 'category': category } %}
        {% endif %}

        <div class="categoriegrid page-content container-max">

            {% if isSearch %}
                <div class="row mt-3">
                    <div class="col-12">
                        <h1 class="h2">
                            {% if isTag %}
                                {{ trans("Ceres::Template.tagSearchResults", {"searchString": searchString}) }}
                            {% else %}
                                {{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }}
                            {% endif %}
                        </h1>
                    </div>
                </div>
            {% endif %}

            {% if category is defined and not ceresConfig.item.showCategoryImage %}
                <div class="row mt-3">
                    <div class="col-12">
                        <h1 class="h2 category-title">{{ category.details[0].name }}</h1>
                        {% if ceresConfig.item.showCategoryDescriptionTop in ["description1", "both"] and category.details[0].description | trim is not empty %}
                            <div class="category-description mb-3">{{ category.details[0].description | raw }}</div>
                        {% endif %}
                        {% if ceresConfig.item.showCategoryDescriptionTop in ["description2", "both"] and category.details[0].description2 | trim is not empty %}
                            <div class="category-description mb-3">{{ category.details[0].description2 | raw }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="list-controls mb-5">
                <div class="list-controls-inner p-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="list-wrapper">
                                {% include "Front::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}

                                {% include "Front::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}

                                {% if overrideSearchFilters | trim is empty %}
                                    <item-filter-list :facet-data="{{ facets | json_encode }}">
                                        {% if facets | length > 0 %}
                                            <a class="btn btn-link filter-toggle">
                                                <i class="fa fa-sliders default-float" aria-hidden="true"></i> {{ trans("Ceres::Template.itemFilter") }}
                                            </a>
                                        {% endif %}
                                    </item-filter-list>
                                {% else %}
                                    {{ overrideSearchFilters }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {# TAGS #}
                <lazy-hydrate when-idle>
                    <item-filter-tag-list></item-filter-tag-list>
                </lazy-hydrate>
            </div>

            {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
                <div class="list-controls mb-5 row">
                    <div class="col-12">
                        <div class="float-right">
                            {% include "Front::Category.Item.Partials.Pagination" %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
       
                <div class="col-12">
                    <main role="main">
                    {% if itemList is not empty %}
                        <ul class="product-list row grid">
                            {% for item in itemList %}
                                <li class="col-12 col-sm-6 col-md-4 col-lg-{% if category is defined and ceresConfig.header.showNavBars in ["side", "both"] %}4{% else %}3{% endif %}">
                                    <category-item
                                        item-data-ref="{{ item.data | json_data }}"
                                        :decimal-count="{{ ceresConfig.item.storeSpecial }}">
                                        <template #before-prices>{{ LayoutContainer.show("Front::CategoryItem.BeforePrices", item.data) }}</template>
                                        <template #after-prices>{{ LayoutContainer.show("Front::CategoryItem.AfterPrices", item.data) }}</template>

                                        <a href="{{ item.data | itemURL }}" class="small">
                                            <i class="fa fa-image"></i>
                                            <span>{{ item.data | itemName }}</span>
                                        </a>
                                    </category-item>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if category is not defined and itemList is empty %}
                        <p class="h3 text-muted mb-5 text-center">{{ trans("Ceres::Template.itemSearchNoResults", {"searchString": searchString}) }}</p>
                    {% endif %}
                    </main>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 p-4 text-center">
                ** Lieferzeit: 1 bis 3 Werktage. Versandkosten nach Gewicht bis 20 kg = 4,90€ und ab 149€ Bestellwert Versandkostenfrei in Deutschland. <br />
                Andere Länder, Sperrgut, Speditions Aufträge, Express Versand und weitere Gewichtsstaffelungen werden in der Kasse berechnet - <a href="/zahlung-und-versand" target="_blank">Versandinformationen</a>
                </div>
            </div>

            {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
                <div class="list-controls mb-5 row">
                    <div class="col-12">
                        <div class="float-right">
                            {% include "Front::Category.Item.Partials.Pagination" %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if category is defined %}
                <div class="col-12">
                    {% if ceresConfig.item.showCategoryDescriptionBottom in ["description1", "both"] and category.details[0].description | trim is not empty %}
                        <div class="category-description mb-3">{{ category.details[0].description | raw }}</div>
                    {% endif %}
                    {% if ceresConfig.item.showCategoryDescriptionBottom in ["description2", "both"] and category.details[0].description2 | trim is not empty %}
                        <div class="category-description mb-3">{{ category.details[0].description2 | raw }}</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block PartialHead %}
    {% set canonicalUrl = services.url.getCanonicalURL(null, true) %}
    {% if category is null %}
        {% if '&' in queryString() %}
            {% set robotsValue = 'NOINDEX' %}
        {% else %}
             {% set robotsValue = ceresConfig.meta.robotsSearchResult %}
      {% endif %}
      {% embed getPartial('page-metadata') %}
              {% block title      trans("Ceres::Template.itemSearchResults") ~ " " ~ searchString %}
              {% block robots     robotsValue %}
      {% endembed %}
    {% else %}
      {% embed getPartial('page-metadata') %}
      {% endembed %}
    {% endif %}
{% endblock %}

{% block PartialNext %}
    {% if currentPage == 2 %}
<link rel="prev" href="{{ canonicalUrl ~ queryString({'page': null}) }}" />
    {% elseif currentPage > 2 %}
<link rel="prev" href="{{ canonicalUrl ~ queryString({'page': currentPage - 1}) }}" />
    {% endif %}
    {% if currentPage + 1 <= pageMax %}
<link rel="next" href="{{ canonicalUrl ~ queryString({'page': currentPage + 1}) }}" />
    {% endif %}
{% endblock %}
